<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Performance Indicator</title>
</head>
<body>
    <div class="login">
        <h1>Student Performance Indicator</h1>

        <form action="{{url_for('predict_datapoint')}}" method="post">
            <h1>
                <legend>Student Exam Performance Prediction</legend>
            </h1>
            <div class="mb-3">
                <label class="form_label">Gender</label>
                <select class="form_control" name="gender" placeholder="Enter your Gender" required>
                    <option class="placeholder" selected disabled value="">Select your Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form_label">Race/Ethnicity</label>
                <select class="form_control" name="race_ethnicity" placeholder="Enter your ethnicity" required>
                    <option class="placeholder" selected disabled value="">Select Ethnicity</option>
                    <option value="group A">Group A</option>
                    <option value="group B">Group B</option>
                    <option value="group C">Group C</option>
                    <option value="group D">Group D</option>
                    <option value="group E">Group E</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form_label">Parental Level of Education</label>
                <select class="form_control" name="parental_level_of_education" placeholder="Enter your parent education" required>
                    <option class="placeholder" selected disabled value="">Select Parental Education</option>
                    <option value="associate's degree">Associate's Degree</option>
                    <option value="bachelor's degree">Bachelor's Degree</option>
                    <option value="high school">High School</option>
                    <option value="master's degree">Master's Degree</option>
                    <option value="some college">Some College</option>
                    <option value="some high school">Some High School</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form_label">Lunch Type</label>
                <select class="form_control" name="lunch" placeholder="Enter your lunch" required>
                    <option class="placeholder" selected disabled value="">Select your lunch</option>
                    <option value="free/reduced">Free/Reduced</option>
                    <option value="standard">Standard</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form_label">Test Preparation Course</label>
                <select class="form_control" name="test_preparation_course" placeholder="Enter your test preparation course" required>
                    <option class="placeholder" selected disabled value="">Select Test Course</option>
                    <option value="none">None</option>
                    <option value="completed">Completed</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form_label">Writing Score out of 100</label>
                <input class="form_control" type="number" name="writing_score" placeholder="Enter your writing score" min="0" max="100" required>
            </div>
            <div class="mb-3">
                <label class="form_label">Reading Score out of 100</label>
                <input class="form_control" type="number" name="reading_score" placeholder="Enter your reading score" min="0" max="100" required>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Predict your maths score">
            </div>
        </form>

        <h2>The Prediction is {{results}}</h2>
    </div>
</body>
</html>